
@model DonateLifeWebsite2.Models.RegistrationMV
@{
    ViewBag.Title = "Blood Donor Registration";
}


<div class="appointment-form-wrapper text-center clearfix">
    <h3 class="join-heading">Blood Donor Registration Form</h3>
    @using (Html.BeginForm("BloodDonorUser", "Registration", FormMethod.Post, new { @class = "appointment-form" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserTypeID)
        @Html.HiddenFor(model => model.User.UserID)
        @Html.HiddenFor(model => model.User.UserName)
        @Html.HiddenFor(model => model.User.Password)
        @Html.HiddenFor(model => model.User.Accountstatus)
        @Html.HiddenFor(model => model.User.AccountStatusID)
        @Html.HiddenFor(model => model.User.EmailAddress)
        @Html.HiddenFor(model => model.UserTypeID)
        @Html.HiddenFor(model => model.User.Description)


        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.User.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Full Name", @type = "text" } })
            @Html.ValidationMessageFor(model => model.User.UserName, "", new { @class = "text-danger" })

        </div>
        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Contact No" } })
            @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })

        </div>
        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.BloodDonor.NID, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter NID", @type = "text" } })
            @Html.ValidationMessageFor(model => model.BloodDonor.NID, "", new { @class = "text-danger" })

        </div>
        <div class="form-group col-md-6">
            @Html.DropDownList("GenderID", null, "--Gender--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.GenderID, "", new { @class = "text-danger" })

        </div>


        <div class="form-group col-md-6">
            <div class="select-style">
                @Html.DropDownList("BloodGroupID", null, "--Select Blood Group--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BloodGroupID, "", new { @class = "text-danger" })



            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="select-style">
                @Html.DropDownList("CityID", null, "--Your City--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })



            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.BloodDonor.LastDonationDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Donation Date(if any)" } })
            @Html.ValidationMessageFor(model => model.BloodDonor.LastDonationDate, "", new { @class = "text-danger" })

        </div>
        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.BloodDonor.Location, new { htmlAttributes = new { @class = "form-control", placeholder = "Address", @type = "text" } })
            @Html.ValidationMessageFor(model => model.BloodDonor.Location, "", new { @class = "text-danger" })

        </div>

        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.BloodDonor.HealthIssues, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your HealthIssues(if Any)", @type = "text" } })
            @Html.ValidationMessageFor(model => model.BloodDonor.HealthIssues, "", new { @class = "text-danger" })

        </div>












        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <button id="btn_submit" class="btn btn-custom" type="submit">Submit</button>
        </div>

    }
</div>


