@model DonateLifeWebsite2.Models.RegistrationMV
@{
    ViewBag.Title = "Blood Bank User Registration";
}

<h2>Hospital User</h2>
<div class="appointment-form-wrapper text-center clearfix">
    <h3 class="join-heading">Blood Bank Registration Form</h3>
    @using (Html.BeginForm("BloodBankUser", "Registration", FormMethod.Post, new { @class = "appointment-form" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserTypeID)
        @Html.HiddenFor(model => model.User.UserID)
        @Html.HiddenFor(model => model.User.UserName)
        @Html.HiddenFor(model => model.User.Password)
        @Html.HiddenFor(model => model.User.Accountstatus)
        @Html.HiddenFor(model => model.User.AccountStatusID)
        @Html.HiddenFor(model => model.User.EmailAddress)
        @Html.HiddenFor(model => model.UserTypeID)
        @Html.HiddenFor(model => model.User.Description)


        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.BloodBank.BloodBankName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Blood bank Title", @type = "text" } })
            @Html.ValidationMessageFor(model => model.BloodBank.BloodBankName, "", new { @class = "text-danger" })

        </div>
        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Contact No" } })
            @Html.ValidationMessageFor(model => model.ContactNo, "", new { @class = "text-danger" })

        </div>
        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.BloodBank.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", @type = "email" } })
            @Html.ValidationMessageFor(model => model.BloodBank.Email, "", new { @class = "text-danger" })

        </div>
        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.BloodBank.Website, new { htmlAttributes = new { @class = "form-control", placeholder = "Website", @type = "url" } })
            @Html.ValidationMessageFor(model => model.BloodBank.Website, "", new { @class = "text-danger" })

        </div>

        <div class="form-group col-md-6">
            <div class="select-style">
                @Html.DropDownList("CityID", null, "--Your City--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })



            </div>
        </div>
        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.BloodBank.Location, new { htmlAttributes = new { @class = "form-control", placeholder = "Address", @type = "text" } })
            @Html.ValidationMessageFor(model => model.BloodBank.Location, "", new { @class = "text-danger" })

        </div>











        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <button id="btn_submit" class="btn btn-custom" type="submit">Submit</button>
        </div>

    }
</div>



