@model IEnumerable<DonateLifeWebsite2.Models.RequestListMV>

@{
    ViewBag.Title = "All Requests";
}



<div class="container">
    <div class="col-md-12 margin-top-30">
        <div class="contact-form-block">
            <h2 class="contact-title">All Requests</h2>

            <p>
                @Html.ActionLink("New Request", "FinderBloodDonors", null, new { @class = "btn btn-custom" })
            </p>
            <div class="col-md-12">
                <table class="table table-hover">
                    <tr>
                        <th>
                            Request Date
                        </th>
                        <th>
                            Donor
                        </th>
                        <th>
                            Required Blood Group
                        </th>
                        <th>
                            Expected Date
                        </th>
                        <th>
                            Description
                        </th>

                        <th>
                            Status
                        </th>

                        <th>Action</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestDate)
                            </td>
                            <td>
                                @item.RequestBy (@item.RequestType-@item.ContactNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BloodGroup)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ExpectedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RequestDetails)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.RequestStatus)
                            </td>
                            <td class="text-right">
                                @if (item.RequestStatusID == 1)
                                {
                                    @Html.ActionLink("Accept", "AcceptRequest", new { id = item.RequestID }, new { @class = "btn btn-success" })
                                    @Html.ActionLink("Cancel", "CancelRequestByDonor", new { id = item.RequestID }, new { @class = "btn btn-danger" })
                                }
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>


